dump_tree.dot
dump_tree.png
logs.log
log
dump_ir
dump.asm
my_prog
tree_store
tlang_compiler

ignore_me/
__pycache__/
.cache/
.vscode/
compile_commands.json
perf.data
perf.data.old

makefile
make_release
make_debug

src/frontend/build/
src/lib_code/build/
src/shared/build/
src/x86_64_backend/build/
src/backend_general/build/
src/middleend/build/